<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- CSS only -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/324f167512.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Serif:opsz,wght@8..144,100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
        <title>
            Welcome
        </title>
        

    </head>
    <body>
        
        <!-- navbar -->
<nav class="navbar navbar-expand-lg bg-default navbar-light pt-0 fixed-top shadow-sm p-3 mb-5 bg-body rounded">
    <div class="container">
      <a class="navbar-brand text-bold headerName" href="#">
        <h2>Godson<span class="text-primary">.</span></h1>
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navMenu">
        <ul class="navbar-nav ms-auto ">
            <li class="nav-item ">
                <a href="/" class="nav-link text-dark" >HELLO</a>
            </li>
            <li class="nav-item">
                <a href="#Skills" class="nav-link text-dark">SKILLS</a>
            </li>
            <li class="nav-item">
                <a href="#Experience" class="nav-link text-dark">EXPERIENCE</a>
            </li>
            <li class="nav-item">
                <a href="#Education" class="nav-link text-dark">EDUCATION</a>
            </li>
            
            <li class="nav-item">
                <a href="#Cnt" class="nav-link text-dark">CONTACT</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>