<%- include("partials/header"); -%>

<div class="text-center p-5 m-5">
<form action="/contact" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input type="file" name="myImage" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <button type="submit" class="m-5">upload</button>
  </form>
</div>




<%- include("partials/footer"); -%>